.Products
  padding-bottom: 20px
  position: relative

.Products__2item
  flex-basis: calc(47% - 40px)

  &:last-child
    margin-left: auto
    margin-right: 20px

.Products__1item
  flex-basis: 94%
  margin: 0 auto

.arrowRight
  background: url("./right-arrow.svg") no-repeat 100%
  width: 24px
  height: 24px
  display: block
  position: absolute
  top: 0
  bottom: 0
  right: 12px
  margin: auto
  cursor: pointer
  transition: .4s ease-out

  &:hover
    transform: translateX(-4px) scale(1.1)
    transition: .2s ease

.arrowLeft
  background: url("./right-arrow.svg") no-repeat 100%
  width: 24px
  height: 24px
  display: block
  position: absolute
  top: 0
  bottom: 0
  left: 12px
  margin: auto
  cursor: pointer
  transition: .4s ease-out
  transform: rotate(-180deg)

  &:hover
    transform: translateX(4px) scale(1.1) rotate(-180deg)
    transition: .2s ease

.next__slide
  margin-left: -31.2%
