.ProductsItem
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  background: #ffffff
  border-radius: 8px
  margin-top: 12px
  transition: .3s ease-out

  &:hover
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, .05), 0 4px 10px hsla(0, 0%, 0%, .1), 0 4px 20px hsla(0, 0%, 0%, .04)
    transition: .2s ease

  h3
    margin: 0 0 12px 0

  img
    width: 100%
    max-height: 240px

.price
  text-align: left

.link
  background: #40a0ff
  padding: 8px 20px
  text-align: center
  text-decoration: none
  border-radius: 6px
  color: #ffffff
  margin-bottom: 6px
  transition: .4s ease

  &:hover
    background: #277aff
    transition: .3s ease

