.Button
  display: inline-block
  padding: 10px 20px
  border-radius: 6px
  border: 1px solid #cccccc
  color: #000
  text-transform: uppercase
  font-weight: bold
  font-size: 12px
  cursor: pointer
  margin-bottom: 8px

  &:focus
    outline: none

  &:active
    box-shadow: inset 2px 2px 1px hsla(0, 0%, 0%, .3)

  &:disabled
    background: #cccccc
    color: #000
    cursor: not-allowed

  img
    width: 16px
    height: 16px
    margin-right: 8px

.success
  background: hsl(123, 72%, 53%)
  border: 1px solid transparent

  &:hover
    background: hsl(123, 70%, 70%)

.error
  background: hsla(0, 100%, 70%, 1)
  border: 1px solid transparent

.primary
  background: hsl(200, 100%, 50%)
  color: #ffffff
  border: 1px solid transparent

  &:hover
    background: hsl(200, 100%, 70%)