.Layout
  max-width: 1280px
  width: 1280px
  max-height: 100vh
  height: 100vh
  margin: 0 auto
  background: hsl(0, 0%, 93%)
  position: relative

.basketButton
  position: absolute
  right: 0
  top: 0

.Header
  display: block
  max-width: 1250px
  width: 100%