.ProductPage
  padding: 20px 40px
  background: #ffffff
  display: flex
  flex-wrap: wrap
  z-index: 100
  align-items: flex-start

  h2
    flex-basis: 100%
    width: 100%
    display: block

  figure
    max-width: 500px
    width: 400px

    figcaption
      text-align: center

  .description
    display: flex
    flex-direction: column
